<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>瑞吉外卖管理端</title>
    <link rel="shortcut icon" href="../../favicon.ico">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/common.css">
    <link rel="stylesheet" href="../../styles/login.css">
    <link rel="stylesheet" href="../../styles/icon/iconfont.css"/>
    <style>
        .body {
            min-width: 1366px;
        }

        .login-form {
            width: 100% !important;
        }

        .login {
            background: border-box !important;
        }
    </style>
</head>

<body>
<div class="login" id="login-app">
    <div class="login-box">
        <!--<img src="../../images/login/login-l.png" alt="">-->
        <div class="login-form">
            <el-form ref="loginForm" :model="loginForm" :rules="loginRules">
                <div class="login-form-title">
                    <img src="../../images/login/logo.png" style="width:139px;height:42px;" alt=""/>
                </div>
                <el-form-item prop="username">
                    <el-input v-model="loginForm.username" type="text" auto-complete="off" placeholder="账号"
                              maxlength="20"
                              prefix-icon="iconfont icon-user"/>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input v-model="loginForm.password" type="password" placeholder="密码"
                              prefix-icon="iconfont icon-lock" maxlength="20"
                              @keyup.enter.native="handleLogin"/>
                </el-form-item>
                <el-form-item style="width:100%;">
                    <el-button :loading="loading" class="login-btn" size="medium" type="primary" style="width:100%;"
                               @click.native.prevent="handleLogin">
                        <span v-if="!loading">登录</span>
                        <span v-else>登录中...</span>
                    </el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../api/login.js"></script>

<script>
    new Vue({
        el: '#login-app',
        data() {
            return {
                loginForm: {
                    username: 'admin',
                    password: '123456'
                },
                loading: false
            }
        },
        computed: {
            loginRules() {
                const validateUsername = (rule, value, callback) =
            >
                {
                    if (value.length < 1) {
                        callback(new Error('请输入用户名'))
                    } else {
                        callback()
                    }
                }
                const validatePassword = (rule, value, callback) =
            >
                {
                    if (value.length < 6) {
                        callback(new Error('密码必须在6位以上'))
                    } else {
                        callback()
                    }
                }
                return {
                    'username': [{'validator': validateUsername, 'trigger': 'blur'}],
                    'password': [{'validator': validatePassword, 'trigger': 'blur'}]
                }
            }
        },
        created() {
        },
        methods: {
            async handleLogin()
    {
        // 登录的时候再统一校验一遍
        this.$refs.loginForm.validate(async(valid) = > {
            // 如果校验通过
            if(valid) {
                // 登录按钮改成登录中...
                this.loading = true
                // 封装this.loginForm的数据放在data里面开始调后端，返回数据封装在res里
                let res = await
                loginApi(this.loginForm)
                // 如果状态码为1为成功，这时候存返回的用户信息在浏览器里面localStorage中，并调转页面
                // 存入的数据在登录后跳转到的页面进行用户名的获取，也是从localStorage中取的，这样子做的话
                // 其实也可以直接把用户名携带跳转过去的（但是比较麻烦）
                if (String(res.code) === '1') {
                    localStorage.setItem('userInfo', JSON.stringify(res.data))
                    window.location.href = '/backend/index.html'
                    // 状态码不是1就是失败了，根据elementui语法展示错误信息，并重新把登录中...改成登录
                } else {
                    this.$message.error(res.msg)
                    this.loading = false
                }
            }
        }
    )
    }
    }
    })
</script>
</body>

</html>
