<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>匿名群聊</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css"/>
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <!--<link rel="stylesheet" href="../styles/index.css"/>-->
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/login.css"/>

    <style scoped>
        .chat {
            font-size: 20px;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 20px;
            position: absolute;
            height: 65%;
            width: 90%;
            /*height: 500px; !* 设置内容高度 *!*/
            overflow-y: scroll; /* 启用垂直滚动 */
            overflow-x: hidden; /* 禁用水平滚动 */
        }

        .chat-history {
            /*height: 500px; !* 设置内容高度 *!*/
            /*!*overflow-y: scroll; !* 启用垂直滚动 *!*!*/
            /*overflow-y: auto; !* 启用垂直滚动 *!*/
            /*overflow-x: hidden; !* 禁用水平滚动 *!*/
        }

        .chat-header .back-btn {
            margin-right: 16px;
            cursor: pointer;
        }

        .chat-header .user-avatar {
            margin-right: 12px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }

        .message-user img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .chat-input {
            flex: 1;
            /*height: 40px;*/
            /*margin-right: 10px;*/
            padding-bottom: 10px;
        }

        form {
            position: fixed;
            /*padding-top: 20px;*/
            /*padding-left: 5%;*/
            bottom: 0;
            width: 90%
            /*padding-right: 5%;*/
        }

        #wc {
            width: 49%;
        }
        #nm {
            width: 46%;
        }

        p {
            color: black;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .el-textarea {
            padding-right: 20px;
            display: inline-block;
            width: 70%;
        }

        .chat-input .el-button el-button--primary {
            margin-left: 10px;
        }

        .message-body img {
            max-width: 50%;
            max-height: 50%;
            object-fit: cover;
        }

        .avatar {
            margin-right: 12px;
            /*width: 40px;*/
            /*height: 40px;*/
            /*border-radius: 50%;*/
            overflow: hidden;
            float: left; /* 将用户头像框浮动到左侧 */
            margin-top: 5px; /* 稍微调整一下上边距，使其垂直居中 */
        }
        .message-content {
            overflow: hidden;
        }
        .avatar img {
            width: 46px;
            height: auto;
        }

        .el-message-box {
            width: 300px;
        }

        [v-cloak] {
            display: none;
        }


    </style>


    <script>
        //根据传递过来的参数name获取对应的值
        function getParameter(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = location.search.substr(1).match(reg);
            if (r != null) return (r[2]);
            return null;
        }
    </script>

</head>
<!--<body oncontextmenu=self.event.returnValue=false onselectstart="return false">-->
<body>


<div class="chat" id="login" v-show="quanJu">

    <el-alert
            v-show="Show"
            :title="title"
            type="success"
            effect="dark">
    </el-alert>

    <div class="chat-history" v-cloak>
        <div class="chat-bubble" v-for="message in messages" :key="message.id">
            <div class="avatar">
                <!--<img :src="'https://img-blog.csdnimg.cn/1a2248e02c7a467da3833c3f73214f24.jpeg'" alt="Avatar">-->
                <!--<img :src="'./../images/1.ico'" alt="请等待">-->
                <img :src="message.touXiang" alt="请等待">
            </div>
            <div class="message-content">
                <div class="message-header">
                    <div class="time">{{ message.time }}</div>
                    <span v-if="!message.body">{{message.name}}:</span>
                </div>
                <div class="message-body" :style="{color: message.color}" ref="threeParagraph" id="bigSmall">
                    <!--{{ message.body }}-->
                    <span v-if="message.body">{{message.name}}:{{ message.body }}</span>

                    <img v-if="!message.body"
                         :src="'/chat/download?name=' + message.url"/>

                    <svg @click="addLike(message.k,message.zan)" t="1646634642977" class="icon" viewBox="0 0 1024 1024"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="2187" width="14" height="14">
                        <path d="M160 944c0 8.8-7.2 16-16 16h-32c-26.5 0-48-21.5-48-48V528c0-26.5 21.5-48 48-48h32c8.8 0 16 7.2 16 16v448zM96 416c-53 0-96 43-96 96v416c0 53 43 96 96 96h96c17.7 0 32-14.3 32-32V448c0-17.7-14.3-32-32-32H96zM505.6 64c16.2 0 26.4 8.7 31 13.9 4.6 5.2 12.1 16.3 10.3 32.4l-23.5 203.4c-4.9 42.2 8.6 84.6 36.8 116.4 28.3 31.7 68.9 49.9 111.4 49.9h271.2c6.6 0 10.8 3.3 13.2 6.1s5 7.5 4 14l-48 303.4c-6.9 43.6-29.1 83.4-62.7 112C815.8 944.2 773 960 728.9 960h-317c-33.1 0-59.9-26.8-59.9-59.9v-455c0-6.1 1.7-12 5-17.1 69.5-109 106.4-234.2 107-364h41.6z m0-64h-44.9C427.2 0 400 27.2 400 60.7c0 127.1-39.1 251.2-112 355.3v484.1c0 68.4 55.5 123.9 123.9 123.9h317c122.7 0 227.2-89.3 246.3-210.5l47.9-303.4c7.8-49.4-30.4-94.1-80.4-94.1H671.6c-50.9 0-90.5-44.4-84.6-95l23.5-203.4C617.7 55 568.7 0 505.6 0z"
                              p-id="2188" :fill="message.name ? '#ff6633' : '#82848a'"></path>
                    </svg>
                    {{ message.number == 0 ? '' : message.number }}
                </div>
            </div>
            <hr/>
        </div>
        <a id="myElement"></a>
    </div>

    <form>
        <el-button type="primary" v-show="isShow" id="nm" @click="open" >撤回消息选项</el-button>
        <el-button type="primary" v-show="isShow" id="wc" @click="copy">分享链接给好友</el-button>

        <p ref="firstParagraph" v-show="isShow">私聊模式启动，开启隐私对话吧</p>
        <p ref="secondParagraph" v-show="isShow">私聊模式不记录任何数据，聊天记录每天凌晨12点由定时任务自动删除</p>
        <div class="chat-input">
            <el-input :disabled="isButtonDisabled"
                      type="textarea"
                      v-model="inputText"
                      placeholder="回车键发送消息..."
                      @keyup.enter.native="sendMessage"
                      @blur="diuShi"
                      @click.native="hideParagraphs"
            ></el-input>
            <el-button type="primary" icon="el-icon-plus" v-show="isShow" @click="selectImage"></el-button>
        </div>
    </form>
</div>


<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="./../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script src="./../api/login.js"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&ak=ICfhZ9Tch0RicX8wLsTq3uuwC6pjxjwt&s=1"></script>

</body>

<script>
    new Vue({
        el: "#login",
        name: 'Chat',
        data() {
            return {
                messages: [
                ],
                inputText: '',
                rows: 1,
                isShow: true,
                Show: false,
                quanJu: true,
                title: '',
                isInteger: 0,
                content: '分享链接给好友',
                p: 666,
                zan: false,
                isButtonDisabled: false
            };
        },
        mounted() {
            //这uuid是对目标私聊用户的
            // alert(getParameter("uuid"))
            //这uuid是自己的
            // alert(getParameter("uuid1"))

            if (!getParameter("uuid")||!getParameter("uuid")){
                this.$notify({type: 'warning', message: '聊天记录拉取失败，请返回重试'});
            }

            var name = localStorage.getItem('myName');
            if (name == null) {
                // 定义形容词和名词数组
                var adjectives = ['淘气的', '爱动的', '调皮的', '可爱的', '聪明的'];
                var nouns = ['大熊', '哆嗦A梦', '小夫', '胖虎', '蝎子莱莱', '鲨鱼辣椒', '蜘蛛侦探', '蟑螂恶霸', '汤姆', '杰瑞'];

                // 生成唯一名称
                name = adjectives[Math.floor(Math.random() * adjectives.length)] +
                    nouns[Math.floor(Math.random() * nouns.length)];
                // 存储到 local storage 中
                localStorage.setItem('myName', name);
            }

            setInterval(() => {
                this.initData();
            }, 1000);
            // 使用JavaScript获取两个p标签的DOM元素
            const firstParagraph = this.$refs.firstParagraph;
            const secondParagraph = this.$refs.secondParagraph;

            // 为第一个p标签设置随机颜色值
            const firstColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
            firstParagraph.style.color = firstColor;

            // 为第二个p标签设置随机颜色值
            const secondColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
            secondParagraph.style.color = secondColor;

        },
        watch: {
            messages(value) {
                if (this.isInteger != value.length) {
                    this.isInteger = value.length;
                    this.scrollToEnd();
                }
            },
        },
        methods: {
            async initData() {
                let parameter = getParameter("uuid");
                let parameter1 = getParameter("uuid1");
                const message1 = {
                    parameter: parameter,
                    parameter1: parameter1
                };
                const res = await privateChatSee(message1)
                if (res.code === 1) {
                    this.messages = res.data
                } else {
                    this.$notify({type: 'warning', message: '拉取聊天记录出错，请通知管理员'});
                }
            },
            async sendMessage() {

                if (this.isButtonDisabled) {
                    return;  // 如果按钮已禁用，则忽略后续的点击事件
                }
                // 禁用按钮
                this.isButtonDisabled = true;
                // 在2秒后启用按钮
                setTimeout(() => {
                    this.isButtonDisabled = false;
                }, 2000);

                if (((JSON.stringify(this.inputText).match(/\n/g) || []).length > 1) || (JSON.stringify(this.inputText) == JSON.stringify("\n"))) {
                    this.inputText = '';
                    this.$notify({type: 'warning', message: '格式错误，请输入信息后回车键发送'});
                    return false;
                }
                // 获取唯一标识符
                let name = localStorage.getItem('myName');
                let uuid = localStorage.getItem('uuid');
                let parameter = getParameter("uuid");
                let parameter1 = getParameter("uuid1");
                const message = {
                    name: name,
                    uuid: uuid,
                    time: new Date().toLocaleString(),
                    body: this.inputText,
                    parameter: parameter,
                    parameter1: parameter1,
                    color: "#" + Math.floor(Math.random() * 16777215).toString(16) // 随机生成颜色
                };
                this.messages.push(message);
                const res = await chatName2(message)
                this.inputText = '';
                this.rows = 1;
                // location.reload()
                this.initData()
                this.scrollToEnd(); // 每次添加消息时自动滚动到最底部
            },
            scrollToEnd() {
                const element = document.getElementById('myElement');
                element.scrollIntoView(false);
            },
            diuShi() {
                let textareaEl = document.querySelector('.chat-input .el-textarea');
                let width = textareaEl.offsetWidth;
                textareaEl.style.width = '70%';
                this.isShow = true
            },
            hideParagraphs() {
                let textareaEl = document.querySelector('.chat-input .el-textarea');
                let width = textareaEl.offsetWidth;
                textareaEl.style.width = '100%';
                this.isShow = false
            },
            async tiXing() {
                this.$notify({type: 'warning', message: '功能尚未开发'});
            },
            selectImage() {
                const input = document.createElement('input');
                input.type = 'file';
                input.accept = 'image/*';
                let name = localStorage.getItem('myName');
                let parameter = getParameter("uuid");
                let parameter1 = getParameter("uuid1");
                let uuid = localStorage.getItem('uuid');
                input.onchange = (event) => {
                    const file = event.target.files[0];
                    // 创建一个新的FormData对象
                    const formData = new FormData();
                    //压缩前的文件对象
                    // console.log(file);
                    //压缩图片
                    this.imgCompress(file, 'image/webp', 0.5).then(res => {
                        //压缩后的文件对象
                        // console.log(res.file);
                        // 将文件追加到FormData对象
                        formData.append('file', res.file);
                        formData.append('name', name);
                        formData.append('uuid', uuid);
                        formData.append('parameter', parameter);
                        formData.append('parameter1', parameter1);
                        // 附加任何其他表单数据到FormData对象;
                        // 使用AJAX请求将表单数据发送到后端
                        const xhr = new XMLHttpRequest();
                        xhr.open('POST', '/privateChat');
                        xhr.send(formData);
                    })
                };
                input.click();
            },
            addLike(k, zan) {
                let uuid = localStorage.getItem('uuid');
                $axios.post("/chat/zan/" + uuid + '/' + btoa(k))
                    .then(({data}) => {

                    })
                    .catch(err => {
                        this.$notify({type: 'warning', message: '程序出错，请联系管理员'});
                    })
            },
            open() {
                this.$prompt('请复制时间标识进行删除', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^(0[1-9]|1[012])\/(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$/,
                    inputErrorMessage: '格式不正确，请重新输入',
                }).then(({ value }) => {
                    // 调用后端接口，传入 value 作为参数
                    let parameter = getParameter("uuid");
                    let parameter1 = getParameter("uuid1");
                    let params=parameter+parameter1
                    $axios.post('/addressSee/delete/' + params+ '/' +btoa(value))
                        .then(response => {
                        // 处理接口返回结果

                            this.$message({
                            type: 'success',
                            message: '已成功删除'
                        });
                    }).catch(error => {
                        this.$message({
                            type: 'error',
                            message: '删除失败，请稍后再试'
                        });
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
            },
            copy() {
                this.$confirm('此操作将复制链接, 是否继续?', '提示', {
                    confirmButtonText: '复制本房间链接',
                    cancelButtonText: '随机生成房间链接',
                    type: 'warning'
                }).then(() => {
                    let parameter = getParameter("uuid");
                    let parameter1 = getParameter("uuid1");
                    let nmae="https://qianyekeji.cn/front/page/Anonymous_chat.html?uuid="+parameter+"&uuid1="+parameter1
                    this.copyToClipboard(nmae);
                    this.$notify({type: 'success', message: '已复制本房间链接到剪切板'});
                }).catch(() => {
                    let parameter = Math.random().toString(36).substring(2, 10);
                    let parameter1 = Math.random().toString(36).substring(2, 10);
                    let nmae="https://qianyekeji.cn/front/page/Anonymous_chat.html?uuid="+parameter+"&uuid1="+parameter1
                    this.copyToClipboard(nmae);
                    this.$notify({type: 'success', message: '随机生成房间链接成功,已复制'});
                });
            },
            copyToClipboard(text) {
                var input = document.createElement('input');
                input.setAttribute('value', text);
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                document.body.removeChild(input);
            },
            imgCompress(imgFile, imgType, quality) {
                if (!imgType) {
                    imgType = 'image/webp';//默认输出webp格式的图片
                }
                return new Promise((resolve, reject) => {
                    let src = URL.createObjectURL(imgFile);
                    let img = new Image();//创建一个img标签
                    img.src = src;
                    img.onload = function () {
                        try {
                            URL.revokeObjectURL(src);//释放内存
                            let width = this.width;
                            let height = this.height;
                            let imgCanvas = document.createElement('canvas');//创建canvas元素
                            imgCanvas.width = width;
                            imgCanvas.height = height;
                            let ctx = imgCanvas.getContext('2d');//2d渲染
                            ctx.drawImage(this, 0, 0, width, height);//将图片以原有尺寸绘制到canvas中
                            //转换成base64并压缩，可以从0到1的区间内选择图片的质量。如果超出取值范围，将会使用默认值0.92。其他参数会被忽略
                            if (imgType === 'image/webp' || imgType === 'image/jpeg') {
                                imgCanvas.toBlob(function (b) {
                                    let compressUrl = URL.createObjectURL(b);//压缩后的文件url
                                    let fileName = imgFile.name.substring(0, imgFile.name.lastIndexOf('.')) + '.' + imgType.split('/')[1];//重构文件名
                                    // let file=this.blobToFile(b,fileName,imgType);//Blob实例转成File实例
                                    let file = new window.File([b], fileName, {type: imgType})
                                    resolve({
                                        url: compressUrl,
                                        file: file,
                                    });
                                    imgCanvas = null;//释放内存
                                }, imgType, quality);
                            } else {
                                imgCanvas.toBlob(function (b) {
                                    let compressUrl = URL.createObjectURL(b);
                                    let fileName = imgFile.name.substring(0, imgFile.name.lastIndexOf('.')) + '.' + imgType.split('/')[1];
                                    let file = this.blobToFile(b, fileName, imgType);
                                    resolve({
                                        url: compressUrl,
                                        file: file,
                                    }, imgType);
                                    imgCanvas = null;//释放内存
                                }, imgType);
                            }
                        } catch (e) {
                            reject(e);
                        }
                    }
                })
            },

            blobToFile(blob, fileName, type) {
                return new window.File([blob], fileName, {type: type});
            }
        },
    });
</script>
</html>