<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <!--<title>{{ccc}}</title>-->
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css"/>
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <!--<link rel="stylesheet" href="../styles/index.css"/>-->
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/login.css"/>
    <!-- require APlayer -->
    <link rel="stylesheet" href="../js/APlayer.min.css">

    <style scoped>
        .chat {
            font-size: 20px;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 20px;
            position: absolute;
            height: 65%;
            width: 90%;
            /*height: 500px; !* 设置内容高度 *!*/
            overflow-y: scroll; /* 启用垂直滚动 */
            overflow-x: hidden; /* 禁用水平滚动 */
        }

        .chat-history {
            /*height: 500px; !* 设置内容高度 *!*/
            /*!*overflow-y: scroll; !* 启用垂直滚动 *!*!*/
            /*overflow-y: auto; !* 启用垂直滚动 *!*/
            /*overflow-x: hidden; !* 禁用水平滚动 *!*/
        }

        .chat-header .back-btn {
            margin-right: 16px;
            cursor: pointer;
        }

        .chat-header .user-avatar {
            margin-right: 12px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }

        .message-user img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .chat-input {
            flex: 1;
            /*height: 40px;*/
            /*margin-right: 10px;*/
            padding-bottom: 3px;
        }

        form {
            position: fixed;
            /*padding-top: 20px;*/
            /*padding-left: 5%;*/
            bottom: 0;
            width: 90%
            /*padding-right: 5%;*/
        }

        #wc {
            width: 49%;
        }

        #nm {
            width: 46%;
        }

        p {
            color: black;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .el-textarea {
            /*padding-right: 20px;*/
            display: inline-block;
            width: 70%;
            height: 40px;
        }

        .el-textarea__inner {
            padding: 0px 0px;
            padding-left: 10px;
            height: 40px;
        }

        .message-body img {
            max-width: 50%;
            max-height: 50%;
            object-fit: cover;
        }

        .avatar {
            margin-right: 12px;
            /*width: 40px;*/
            /*height: 40px;*/
            /*border-radius: 50%;*/
            overflow: hidden;
            float: left; /* 将用户头像框浮动到左侧 */
            margin-top: 5px; /* 稍微调整一下上边距，使其垂直居中 */
        }

        .message-content {
            overflow: hidden;
        }

        .avatar img {
            width: 46px;
            height: auto;
        }

        .el-message-box--center {
            width: 300px;
        }

        /*.chat {*/
        /*position: relative;*/
        /*height: 100vh;*/
        /*}*/

        .spinner {
            position: absolute;
            top: 30%;
            left: 40%;
            transform: translate(-50%, -50%);
            border: 8px solid rgba(0, 0, 0, 0.1);
            border-top-color: #1abc9c;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s infinite linear;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .hide {
            display: none;
        }

        [v-cloak] {
            display: none;
        }

        .drawer-wrapper.drawer-wrapper .el-drawer {
            width: 40% !important;
            padding-top: 5%;
            padding-left: 2%;
            padding-right: 2%;
            background: whitesmoke;
            overflow-y: scroll; /* 启用垂直滚动 */
        }

        .el-drawer div {
            color: blue;
            padding-bottom: 15%;
        }
        #pay{
            padding-top: 15%;
        }
        #pay1{
            padding-top: 15%;
        }
        .el-message-box {
            width: 300px;
        }

        .a a {
            display: block;
            text-align: center;
            font-size: 50%;
            padding-bottom: 3px;
        }

        .aplayer .aplayer-lrc {
            display: none !important;
            padding-left: 999px !important;
        }

        .upload-demo {
            float: right;
            padding-right: 20%;
            padding-top: 1%;
        }
    </style>

</head>
<!--<body oncontextmenu=self.event.returnValue=false onselectstart="return false">-->
<body>


<div class="chat" id="login" v-cloak>
    <!--<title>{{title_name}}</title>-->
    <title v-text="title_name"></title>
    <div class="wrapper">
        <div class="spinner"></div>
    </div>

    <el-alert
            v-show="Show"
            :title="title"
            type="success"
            effect="dark">
    </el-alert>

    <div class="chat-history">
        <div class="chat-bubble" v-for="message in messages" :key="message.id">
            <div class="avatar" @click="open(message.uuid)">
                <!--<img :src="'https://img-blog.csdnimg.cn/1a2248e02c7a467da3833c3f73214f24.jpeg'" alt="Avatar">-->
                <!--<img :src="'./../images/1.ico'" alt="请等待">-->
                <img :src="message.touXiang" alt="请等待">
            </div>
            <div class="message-content">
                <div class="message-header">
                    <div class="time">{{ message.time }}</div>
                    <span v-if="!message.body">{{message.name}}:</span>
                </div>
                <div class="message-body" :style="{color: message.color}" ref="threeParagraph" id="bigSmall">
                    <!--{{ message.body }}-->
                    <span v-if="message.body">{{message.name}}:{{ message.body }}</span>

                    <!-- 不存在body,但存在voice,渲染voice -->
                    <!--<span v-else-if="message.voice">{{message.voice}}</span>-->
                    <span v-else-if="message.voice">
                        <!--<el-button type="primary" icon="el-icon-phone"  @click="playVoice(message.voice)"></el-button>-->
                    <!--<img src="../images/luyin.png" @click="playVoice(message.voice)">-->
                        <!--这时候不这样渲染了-->
                        <!--<button @click="playAudio">播放音频</button>-->
                        <!--<img src="../images/luyin.png" @click="playAudio">-->

    <audio id="audioPlayer" controls>
        <!--<source :src="audioSrc" type="audio/mpeg">-->
        <source :src="'/chat/audio?name='+message.voice" type="audio/mpeg">
        您的浏览器不支持音频标签。
    </audio>
                    </span>

                    <!-- 既不存在body也不存在voice,则渲染图片 -->
                    <img v-else :src="'/chat/download?name='+message.url"/>

                    <svg v-if="!message.voice" @click="addLike(message.k,message.zan)" t="1646634642977" class="icon" viewBox="0 0 1024 1024"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg" p-id="2187" width="14" height="14">
                        <path d="M160 944c0 8.8-7.2 16-16 16h-32c-26.5 0-48-21.5-48-48V528c0-26.5 21.5-48 48-48h32c8.8 0 16 7.2 16 16v448zM96 416c-53 0-96 43-96 96v416c0 53 43 96 96 96h96c17.7 0 32-14.3 32-32V448c0-17.7-14.3-32-32-32H96zM505.6 64c16.2 0 26.4 8.7 31 13.9 4.6 5.2 12.1 16.3 10.3 32.4l-23.5 203.4c-4.9 42.2 8.6 84.6 36.8 116.4 28.3 31.7 68.9 49.9 111.4 49.9h271.2c6.6 0 10.8 3.3 13.2 6.1s5 7.5 4 14l-48 303.4c-6.9 43.6-29.1 83.4-62.7 112C815.8 944.2 773 960 728.9 960h-317c-33.1 0-59.9-26.8-59.9-59.9v-455c0-6.1 1.7-12 5-17.1 69.5-109 106.4-234.2 107-364h41.6z m0-64h-44.9C427.2 0 400 27.2 400 60.7c0 127.1-39.1 251.2-112 355.3v484.1c0 68.4 55.5 123.9 123.9 123.9h317c122.7 0 227.2-89.3 246.3-210.5l47.9-303.4c7.8-49.4-30.4-94.1-80.4-94.1H671.6c-50.9 0-90.5-44.4-84.6-95l23.5-203.4C617.7 55 568.7 0 505.6 0z"
                              p-id="2188" :fill="message.name ? '#ff6633' : '#82848a'"></path>
                    </svg>
                    {{ message.number == 0 ? '' : message.number }}
                </div>
            </div>
            <hr/>
        </div>
        <a id="myElement"></a>
    </div>

    <form class="my-form" v-cloak>
        <el-button type="primary" v-show="isShow" id="nm" @click="address">查看道祖位置</el-button>
        <!--<el-button type="primary" v-show="isShow" id="wc" @click="tiXing">{{content}}</el-button>-->

        <el-button type="primary" v-show="isShow" id="wc" @click="drawer=!drawer">
            更多功能
        </el-button>
        <div class="drawer-wrapper">
            <el-drawer
                    title="我是标题"
                    :visible.sync="drawer"
                    :with-header="false"
                    direction="ltr"
                    :modal="false">
                <!--<div><a href="/front/page/about.html">网站简介</a></div>-->
                <div @click="room">开/加入房间</div>
                <div @click="privateChat">私聊</div>
                <div @click="changeName">随机改名</div>
                <div @click="join">加入管理员</div>
                <div @click="tiXing">提醒管理上线</div>
                <div @click="make">一键制作</div>
                <a href="/api/wx-pay/download?filename=qunliao.msi">下载windows版</a>
                <div id="pay" @click="pay">打赏0.01</div>
                <a href="https://qianyekeji.cn/front/index.html">疑难解答</a>
                <div id="pay1" @click="anb">开始录音</div>
                <div @click="ann">停止录音</div>
                <div @click="anm">播放录音</div>
                <div @click="nnn">发送录音</div>
                <!--<div @click="delete1">删除消息</div>-->
                <!--<div @click="banned">封禁某人</div>-->
                <!--<div><a href="/front/page/eth.html">echarts之ETH</a></div>-->
                <!--<div @click="music=!music">我喜欢的歌</div>-->
            </el-drawer>
        </div>


        <p ref="firstParagraph" v-show="isShow">在线人数<span style="color: black">{{person}}</span>人,写下你想对我,想对它说的话吧</p>
        <p ref="secondParagraph" v-show="isShow">匿名群聊不记录任何数据，聊天记录每天凌晨12点由定时任务自动删除</p>
        <div class="chat-input">
            <!--<el-button type="primary" icon="el-icon-phone" v-show="isShow" @click="voice"></el-button>-->
            <el-input :disabled="isButtonDisabled"
                      type="textarea"
                      v-model="inputText"
                      placeholder="回车键发送消息..."
                      @keyup.enter.native="sendMessage"
                      @blur="diuShi"
                      @click.native="hideParagraphs"
            ></el-input>
            <el-button type="primary" icon="el-icon-plus" v-show="isShow" @click="selectImage"></el-button>

            <!--<el-upload-->
            <!--class="upload-demo" action="/chat"-->
            <!--:before-upload="beforeUpload"-->
            <!--:show-file-list="false"-->
            <!--&gt;-->
            <!--<el-button size="small" icon="el-icon-plus" v-show="isShow" type="primary"></el-button>-->
            <!--</el-upload>-->

        </div>
        <div class="a">
            <a href="https://beian.miit.gov.cn/">陕ICP备2022014746号-1</a>
        </div>
    </form>
    <!--<meting-js-->
            <!--v-show="music"-->
            <!--server="netease"-->
            <!--type="playlist"-->
            <!--fixed="true"-->
            <!--autoplay="false"-->
            <!--volume="0.6"-->
            <!--id="8276475427">-->
    <!--</meting-js>-->
</div>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="./../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script src="./../api/login.js"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&ak=ICfhZ9Tch0RicX8wLsTq3uuwC6pjxjwt&s=1"></script>
<!-- require APlayer -->
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<!-- require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>

</body>

<script>
    new Vue({
        el: "#login",
        name: 'Chat',
        data() {
            return {
                drawer: false,
                messages: [],
                inputText: '',
                rows: 1,
                isShow: true,
                Show: false,
                title: '',
                isInteger: 0,
                content: '提醒管理员上线陪聊',
                p: 666,
                zan: false,
                isButtonDisabled: false,
                person: '0',
                add: '',
                music: false,
                title_name: '',
                audioSrc: "../images/11.mp3" // 初始音频路径为空
            };
        },
        mounted() {
            this.makeTitle();

            // 获取 spinner 元素
            var spinner = document.querySelector('.wrapper');
            // 设置 2 秒后停止旋转动画
            setTimeout(function () {
                spinner.classList.add('hide');
            }, 1000);

            // 百度地图API功能
            let self = this;
            var geolocation = new BMap.Geolocation();
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    self.add = r.point.lng + "__" + r.point.lat
                    localStorage.setItem('address', self.add);
                }
                else {
                    alert('failed' + this.getStatus());
                }
            }, {enableHighAccuracy: true})


            var uuid = localStorage.getItem('uuid');
            if (uuid == null) {
                uuid = Math.random().toString(36).substring(2, 10);
                localStorage.setItem('uuid', uuid);
            }

            // localStorage.setItem('myName', "淘气的杰瑞");
            var name = localStorage.getItem('myName');
            if (name == null) {
                // 定义形容词和名词数组
                var adjectives = ['淘气的', '爱动的', '调皮的', '可爱的', '聪明的'];
                var nouns = ['大熊', '哆嗦A梦', '小夫', '胖虎', '蝎子莱莱', '鲨鱼辣椒', '蜘蛛侦探', '蟑螂恶霸', '汤姆', '杰瑞'];

                // 生成唯一名称
                name = adjectives[Math.floor(Math.random() * adjectives.length)] +
                    nouns[Math.floor(Math.random() * nouns.length)];
                // 存储到 local storage 中
                localStorage.setItem('myName', name);
            }

            if (name) {
                this.title = name + "已上线";
                this.Show = true
                setTimeout(() => {
                    this.Show = false
                }, 3000);
            }

            console.log(name)
            console.log(chatSee)
            console.log("----------------------------")
            // this.initData()
            // setInterval(this.initData(), 1000);
            setInterval(() => {
                this.initData();
            }, 1000);
            //心跳机制，实现在线人数查询
            setInterval(() => {
                this.bigHeart();
            }, 3000);
            // 使用JavaScript获取两个p标签的DOM元素
            const firstParagraph = this.$refs.firstParagraph;
            const secondParagraph = this.$refs.secondParagraph;

            // 为第一个p标签设置随机颜色值
            const firstColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
            firstParagraph.style.color = firstColor;

            // 为第二个p标签设置随机颜色值
            const secondColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
            secondParagraph.style.color = secondColor;

            // document.getElementById("myElement").href="#myElement"
            window.onscroll = function () {
                console.log(window.scrollY);
            };

            let getNonceStr=this.generateNonceStr(8);
            const timestamp = Date.now().toString();
            let signature;
            $axios.post("/wx/signature1/" + getNonceStr + '/' + timestamp)
                .then((res) => {
                    console.log(res)
                    signature=res;
                    // 初始化微信JS-SDK
                    wx.config({
                        debug: false,
                        appId: 'wx61c514e5d83894bf',
                        timestamp: timestamp,
                        nonceStr: getNonceStr,
                        signature: signature,
                        jsApiList: ['getLocation','chooseImage','uploadImage','startRecord','stopRecord','playVoice','uploadVoice','downloadVoice']
                    });
                })
                .catch(err => {
                    console.error(err); // 输出错误信息
                    this.$notify({type: 'warning', message: '程序出错'});
                });
            // let url = window.location.href;
            // alert(url)
        },
        watch: {
            messages(value) {
                if (this.isInteger != value.length) {
                    // alert("999")
                    this.isInteger = value.length;
                    this.scrollToEnd(); // 每次添加消息时自动滚动到最底部
                }
            },
        },
        methods: {
            async initData() {
                const res = await chatSee()
                if (res.code === 1) {
                    this.messages = res.data
                } else {
                    // this.$message.error(res.msg)
                    this.$notify({type: 'warning', message: '拉取聊天记录出错，请通知管理员'});
                }
            },
            async sendMessage() {

                if (this.isButtonDisabled) {
                    return;  // 如果按钮已禁用，则忽略后续的点击事件
                }
                // 禁用按钮
                this.isButtonDisabled = true;
                // 在2秒后启用按钮
                setTimeout(() => {
                    this.isButtonDisabled = false;
                }, 2000);

                if (((JSON.stringify(this.inputText).match(/\n/g) || []).length > 1) || (JSON.stringify(this.inputText) == JSON.stringify("\n"))) {
                    this.inputText = '';
                    this.$notify({type: 'warning', message: '格式错误，请输入信息后回车键发送'});
                    return false;
                }
                // 获取唯一标识符
                let name = localStorage.getItem('myName');
                // let address = localStorage.getItem('address');
                let uuid = localStorage.getItem('uuid');
                const message = {
                    name: name,
                    address: this.add,
                    uuid: uuid,
                    time: new Date().toLocaleString(),
                    body: this.inputText,
                    color: "#" + Math.floor(Math.random() * 16777215).toString(16) // 随机生成颜色
                };
                this.messages.push(message);
                const res = await chatName(message)
                this.inputText = '';
                this.rows = 1;
                // location.reload()
                this.initData()
                this.scrollToEnd(); // 每次添加消息时自动滚动到最底部
            },
            scrollToEnd() {
                const element = document.getElementById('myElement');
                element.scrollIntoView(false);
            },
            diuShi() {
                let textareaEl = document.querySelector('.chat-input .el-textarea');
                let width = textareaEl.offsetWidth;
                textareaEl.style.width = '70%';
                setTimeout(() => {
                    this.isShow = true;
                }, 500);
                // this.music = true
            },
            hideParagraphs() {
                let textareaEl = document.querySelector('.chat-input .el-textarea');
                let width = textareaEl.offsetWidth;
                textareaEl.style.width = '100%';
                this.isShow = false
                // this.music = false
            },
            async tiXing() {
                $axios.post("/other/tiXing")
                    .then((res) => {
                        this.$notify({type: 'success', message: '已提醒，管理员火速赶来中...'});
                    })
            },
            make(){
                this.$prompt('请输入自定义的菜单和标题名称用_分割，此操作将修改公众号内的匿名群聊和其主页的标题', '制作提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消'
                }).then(({value}) => {
                    $axios.post("/wx/make?value="+value)
                        .then((res) => {
                            this.$notify({type: 'success', message: res.msg});
                        })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
            },
            makeTitle(){
                $axios.post("/wx/title")
                        .then((res) => {
                            if (res.msg==0) {
                                this.title_name="你好，世界"
                            }else{
                                this.title_name=res.msg
                            }
                        })
            },

            pay(){
                let getNonceStr=this.generateNonceStr(8);
                const timestamp = Date.now().toString();
                $axios.post("/api/wx-pay/jsapi/" + getNonceStr+"/"+timestamp+"/"+1)
                    .then((res) => {
                        // alert(JSON.stringify(res));
                        console.log(res.map);
                        console.log(res.map.bodyAsString);
                        console.log(res.map.paySign);
                        WeixinJSBridge.invoke('getBrandWCPayRequest', {
                            "appId": "wx61c514e5d83894bf",     //公众号ID，由商户传入
                            "timeStamp": timestamp,     //时间戳，自1970年以来的秒数
                            "nonceStr": getNonceStr,      //随机串
                            "package": "prepay_id="+res.map.bodyAsString,
                            "signType": "RSA-SHA256",     //微信签名方式：
                            "paySign": res.map.paySign //微信签名
                        })
                    })
                    .catch(err => {
                        console.error(err); // 输出错误信息
                        this.$notify({type: 'warning', message: '程序出错'});
                    });
            },
            generateNonceStr(length) {
                const chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
                let nonceStr = '';
                for (let i = 0; i < length; i++) {
                    nonceStr += chars[Math.floor(Math.random() * chars.length)];
                }
                return nonceStr;
            },
            selectImage() {
                const input = document.createElement('input');
                input.type = 'file';
                input.accept = 'image/*';
                let name = localStorage.getItem('myName');
                let uuid = localStorage.getItem('uuid');
                input.onchange = (event) => {
                    const file = event.target.files[0];
                    // 创建一个新的FormData对象
                    const formData = new FormData();
                    //压缩前的文件对象
                    // console.log(file);
                    //压缩图片
                    this.imgCompress(file, 'image/webp', 0.5).then(res => {
                        //压缩后的文件对象
                        // console.log(res.file);
                        // 将文件追加到FormData对象
                        formData.append('file', res.file);
                        formData.append('name', name);
                        formData.append('uuid', uuid);
                        // 附加任何其他表单数据到FormData对象;
                        // 使用AJAX请求将表单数据发送到后端
                        const xhr = new XMLHttpRequest();
                        xhr.open('POST', '/chat');
                        xhr.send(formData);
                    })
                };
                input.click();
            },
            addLike(k, zan) {
                let uuid = localStorage.getItem('uuid');
                $axios.post("/chat/zan/" + uuid + '/' + btoa(k))
                    .then(({data}) => {

                    })
                    .catch(err => {
                        this.$notify({type: 'warning', message: '程序出错，请联系管理员'});
                    })
            },
            open(uuid) {
                this.$confirm('您确定要跟此人私聊吗, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    // this.quanJu=false
                    this.$message({
                        type: 'success',
                        message: '成功进入私聊模式,请稍等!'
                    });
                    let uuid1 = localStorage.getItem('uuid');
                    window.location.href = '/front/page/Anonymous_chat.html?uuid=' + uuid + '&uuid1=' + uuid1 + ''

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });

            },
            address() {
                window.location.href = '/front/page/chenXun.html'
            },
            async bigHeart() {
                let uuid = localStorage.getItem('uuid');
                $axios.post("/addressSee/" + this.add + '/' + uuid)
                    .then((res) => {
                        this.person = res.data;
                    })
                    // .catch(err => {
                    //     this.$notify({type: 'warning', message: '程序出错，请联系管理员'});
                    // })
            },
            join() {
                this.$prompt('请输入您的邮箱', '管理提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/,
                    inputErrorMessage: '邮箱格式不正确，请重新输入',
                }).then(({value}) => {
                    $axios.post("/other/value/" + value)
                        .then((res) => {
                            this.$notify({type: 'warning', message: res.msg});
                        })
                        .catch(err => {
                            this.$notify({type: 'warning', message: '程序出错，请联系管理员'});
                        })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
            },
            room() {
                this.$prompt('请输入4位随机数字为房间号', '开房提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^[0-9]{4}$/,
                    inputErrorMessage: '格式不正确，请重新输入',
                }).then(({value}) => {
                    this.$message({
                        type: 'success',
                        message: '开房成功'
                    });
                    window.location.href = '/front/page/room_chat.html?value=' + value;
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
            },
            privateChat() {
                this.$alert('点击头像即可私聊', '私聊提示:', {
                    confirmButtonText: '确定',
                });
            },
            changeName() {
                // this.$prompt('请输入新名字', '改名提示', {
                //     confirmButtonText: '确定',
                //     cancelButtonText: '取消',
                // }).then(({value}) => {
                //     this.$message({
                //         type: 'success',
                //         message: '改名成功'
                //     });
                //     localStorage.setItem('myName', value);
                // }).catch(() => {
                //     this.$message({
                //         type: 'info',
                //         message: '取消输入'
                //     });
                // });

                var adjectives = ['淘气的', '爱动的', '调皮的', '可爱的', '聪明的'];
                var nouns = ['大熊', '哆嗦A梦', '小夫', '胖虎', '蝎子莱莱', '鲨鱼辣椒', '蜘蛛侦探', '蟑螂恶霸', '汤姆', '杰瑞'];
                let name = adjectives[Math.floor(Math.random() * adjectives.length)] +
                    nouns[Math.floor(Math.random() * nouns.length)];
                // 存储到 local storage 中
                localStorage.setItem('myName', name);
                this.$alert(name, '随机改名:', {
                    confirmButtonText: '确定',
                    callback: action => {

                    }
                });
            },
            // banned() {
            //     this.$prompt('请复制时间标识进行封禁', '封禁提示', {
            //         confirmButtonText: '确定',
            //         cancelButtonText: '取消',
            //     }).then(({value}) => {
            //         $axios.post("/chat/banned/" + btoa(value))
            //             .then((res) => {
            //                 this.$notify({type: 'warning', message: res.msg});
            //             })
            //     }).catch(() => {
            //         this.$message({
            //             type: 'info',
            //             message: '取消输入'
            //         });
            //     });
            // },
            // delete1() {
            //     this.$prompt('请复制时间标识进行删除', '删除提示', {
            //         confirmButtonText: '确定',
            //         cancelButtonText: '取消',
            //     }).then(({value}) => {
            //         $axios.post("/chat/delete/" + btoa(value))
            //             .then((res) => {
            //                 this.$notify({type: 'warning', message: res.msg});
            //             })
            //     }).catch(() => {
            //         this.$message({
            //             type: 'info',
            //             message: '取消输入'
            //         });
            //     });
            // },
            imgCompress(imgFile, imgType, quality) {
                if (!imgType) {
                    imgType = 'image/webp';//默认输出webp格式的图片
                }
                return new Promise((resolve, reject) => {
                    let src = URL.createObjectURL(imgFile);
                    let img = new Image();//创建一个img标签
                    img.src = src;
                    img.onload = function () {
                        try {
                            URL.revokeObjectURL(src);//释放内存
                            let width = this.width;
                            let height = this.height;
                            let imgCanvas = document.createElement('canvas');//创建canvas元素
                            imgCanvas.width = width;
                            imgCanvas.height = height;
                            let ctx = imgCanvas.getContext('2d');//2d渲染
                            ctx.drawImage(this, 0, 0, width, height);//将图片以原有尺寸绘制到canvas中
                            //转换成base64并压缩，可以从0到1的区间内选择图片的质量。如果超出取值范围，将会使用默认值0.92。其他参数会被忽略
                            if (imgType === 'image/webp' || imgType === 'image/jpeg') {
                                imgCanvas.toBlob(function (b) {
                                    let compressUrl = URL.createObjectURL(b);//压缩后的文件url
                                    let fileName = imgFile.name.substring(0, imgFile.name.lastIndexOf('.')) + '.' + imgType.split('/')[1];//重构文件名
                                    // let file=this.blobToFile(b,fileName,imgType);//Blob实例转成File实例
                                    let file = new window.File([b], fileName, {type: imgType})
                                    resolve({
                                        url: compressUrl,
                                        file: file,
                                    });
                                    imgCanvas = null;//释放内存
                                }, imgType, quality);
                            } else {
                                imgCanvas.toBlob(function (b) {
                                    let compressUrl = URL.createObjectURL(b);
                                    let fileName = imgFile.name.substring(0, imgFile.name.lastIndexOf('.')) + '.' + imgType.split('/')[1];
                                    let file = this.blobToFile(b, fileName, imgType);
                                    resolve({
                                        url: compressUrl,
                                        file: file,
                                    }, imgType);
                                    imgCanvas = null;//释放内存
                                }, imgType);
                            }
                        } catch (e) {
                            reject(e);
                        }
                    }
                })
            },

            blobToFile(blob, fileName, type) {
                return new window.File([blob], fileName, {type: type});
            },
            anb(){
                let url = window.location.href;
                // alert(url)
                wx.startRecord();
            },
            ann(){
                wx.stopRecord({
                    success: function (res) {
                        let localId = res.localId;
                        // alert(localId)
                        localStorage.setItem('localId', localId);
                    }
                });
            },
            anm(){
                wx.playVoice({
                    localId: localStorage.getItem('localId') // 需要播放的音频的本地ID，由stopRecord接口获得
                });
            },
            nnn(){
                let name = localStorage.getItem('myName');
                let voiceid = localStorage.getItem('localId');
                if (voiceid===""){
                    this.$message({
                        type: 'info',
                        message: '请先录音后再发送'
                    });
                    return;
                }
                wx.uploadVoice({
                    localId: voiceid, // 需要上传的音频的本地ID，由stopRecord接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success:  (res)=> {
                        var serverId = res.serverId; // 返回音频的服务器端ID
                        let uuid = localStorage.getItem('uuid');
                        const message = {
                            name: name,
                            address: this.add,
                            uuid: uuid,
                            time: new Date().toLocaleString(),
                            body: this.inputText,
                            voiceid: serverId
                        };
                        this.messages.push(message);
                        chatName(message);
                        this.inputText = '';
                        this.rows = 1;
                        // location.reload()
                        this.initData()
                        this.scrollToEnd(); // 每次添加消息时自动滚动到最底部
                        localStorage.setItem('localId', "");
                    }
                });



                // var localId="";
                //     wx.uploadVoice({
                //     localId: voiceid, // 需要上传的音频的本地ID，由stopRecord接口获得
                //     isShowProgressTips: 1, // 默认为1，显示进度提示
                //     success:  (res)=> {
                //         var serverId = res.serverId; // 返回音频的服务器端ID
                //         wx.downloadVoice({
                //             serverId: serverId, // 需要下载的音频的服务器端ID，由uploadVoice接口获得
                //             isShowProgressTips: 1, // 默认为1，显示进度提示
                //             success: (res)=> {
                //                 localId = res.localId; // 返回音频的本地ID
                //
                //                 let uuid = localStorage.getItem('uuid');
                //                 const message = {
                //                     name: name,
                //                     address: this.add,
                //                     uuid: uuid,
                //                     time: new Date().toLocaleString(),
                //                     body: this.inputText,
                //                     voiceid: localId
                //                 };
                //                 this.messages.push(message);
                //                 chatName(message);
                //                 this.inputText = '';
                //                 this.rows = 1;
                //                 // location.reload()
                //                 this.initData()
                //                 this.scrollToEnd(); // 每次添加消息时自动滚动到最底部
                //                 localStorage.setItem('localId', "");
                //             }
                //         });
                //     }
                // });



            },
            playVoice(voice){
                // alert(voice)
                wx.playVoice({
                    localId: voice
                });
            },
            // playAudio() {
            //     // 从后台或其他来源获取音频文件路径，例如通过API请求
            //     // 这里演示直接将路径分配给 data 中的 audioSrc
            //     this.audioSrc = "../images/11.mp3"; // 替换为实际的路径
            //     const audioPlayer = document.getElementById('audioPlayer');
            //     audioPlayer.play();
            // }

        },
    });
</script>
</html>