<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>网站简介</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css"/>
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <!--<link rel="stylesheet" href="../styles/index.css"/>-->
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/address.css"/>
    <style>
        body {
            padding: 30px;
            font-size: 20px;
            font-family: fangsong;
            text-align: center;
        }
        .about .el-input__inner{
            margin-top: 20px;
        }
        [v-cloak] {
            display: none;
        }
        #container{
            height: 300px;
        }
    </style>
</head>

<body>
<div class="about" v-cloak>
    <div id="container"></div>
    <el-input v-model="value1" placeholder="请输入自己拥有的ETH数量" @input="handleInput"></el-input>
    <el-input v-model="value2" placeholder="显示计算结果" disabled></el-input>
    <p v-show="cnm">您距离退休还差{{number}}枚ETH</p>
    <p v-show="!cnm">可以不用努力了</p>
</div>

<!-- 开发环境版本,包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="./../js/vant.min.js"></script>
<script src="./../api/address.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
<script>
    new Vue({
        el: ".about",
        data() {
            return {
                value1: "",
                value2: "",
                number: 1000,
                cnm: true,
                price: "",
                X: [],
                Y: []
            };
        },
        mounted() {
            //调用蜜蜂获取今日eth价格赋值给handleInput的参数，并获取最近7日价格给echarts展示折线图
            //查询当前实时价格进行计算
            this.initData();
        },
        methods: {
             initData() {
                 setTimeout(function() {
                     $axios.post("/other/ETH")
                         .then((res) => {
                             this.price=res.data
                         })
                 }, 2000);
                 $axios.post("/other/eth")
                     .then((res) => {
                         //这个的res.data数据格式是：["1737.678--03-21","1717.78--03-22","1735.34--03-23"]
                         //我现在想把以--分隔，然后前面的给到echarts的y轴，后面的时间给到x轴
                         alert(JSON.stringify(res.data))
                         let data = res.data;
                         for (let i = 0; i < data.length; i++) {
                             let item = data[i].split("--");
                             this.Y.push(item[0]);
                             this.X.push(item[1]);
                         }
                         this.initChart(); // 数据获取完毕后，手动调用初始化 echarts 图表方法
                     })
                     .catch(err => {
                         this.$notify({type: 'warning', message: '程序出错，请联系管理员'});
                     })
            },
            handleInput(value) {
                this.value2 = value * this.price+"USDT";
                this.number=(1000-value)
                if (this.number<0){
                    this.cnm=false
                }else {
                    this.cnm=true
                }
            },
            goBack() {
                history.go(-1)
            },
            initChart() {
                var dom = document.getElementById('container');
                var myChart = echarts.init(dom, null, {
                    renderer: 'canvas',
                    useDirtyRect: false
                });
                var app = {};
                var option;

                option = {
                    xAxis: {
                        type: 'category',
                        data: this.X
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            data: this.Y,
                            type: 'line',
                            smooth: true
                        }
                    ]
                };
                if (option && typeof option === 'object') {
                    myChart.setOption(option);
                }
                window.addEventListener('resize', myChart.resize);
            }

        }
    })
</script>
</body>
</html>