<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>千小夜</title>
    <link rel="icon" href="./../images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="./../styles/login.css" />
    <style>
        form {
            position: fixed;
            left: 0;
            bottom: 0;
            /*width: 100%;*/
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
            font-size: 13px;
        }
    </style>
</head>
<body>
<div id="login" v-loading="loading">
    <!--<div class="divHead">短信接口</div>-->

    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">短信接口</el-menu-item>
        <!--<el-menu-item index="4"><a href="https://www.ele.me" target="_blank">压力测试</a></el-menu-item>-->
        <!--<el-menu-item index="4"><a href="login.html" target="_blank">压力测试</a></el-menu-item>-->
        <el-menu-item index="4">压力测试</el-menu-item>
    </el-menu>
    <!--url: 'page/member/list.html'?-->

    <div class="divContainer" v-if="ls">
        <el-input  v-model="form.phon" :disabled="true" /></el-input>
        <div class="divSplit"></div>
        <el-input  v-model="form.pho" :disabled="true" /></el-input>
        <div class="divSplit"></div>
        <el-input  v-model="form.ph" :disabled="true" /></el-input>
        <div class="divSplit"></div>
        <el-input placeholder=" 请输入测试手机号码" v-model="form.phone"  maxlength='20'/></el-input>
        <div class="divSplit"></div>
        <el-input placeholder=" 1173965注册，1330048登录" v-model="form.ids"  maxlength='20'/></el-input>
        <div class="divSplit"></div>
        <div class="divMsg" v-if="msgFlag">手机号输入不正确，请重新输入</div>
    </div>
    <div class="divContainer" v-if="wc">
        <el-input placeholder=" 请输入测试手机号码" v-model="form.p"  maxlength='20'/></el-input>
        <div class="divMsg" v-if="msgFlag1">手机号输入不正确，请重新输入</div>
        <div class="divSplit"></div>
    </div>
    <!--<div class="divMsg" v-if="msgFlag">手机号输入不正确，请重新输入</div>-->
    <el-button v-if="ls"  :disabled="is_click"  type="primary" :class="{btnSubmit:1===1,btnNoPhone:!form.phone,btnPhone:form.phone}" @click="btnLogin">测试</el-button>
    <!--<el-button v-if="wc"  :disabled="is_click"  type="primary" :class="{btnSubmit:1===1,btnNoPhone:!form.p,btnPhone:form.p}" @click="btnLogin2">-->
    <el-button v-if="wc"  :disabled="totalTime < 60"  type="primary" :class="{btnSubmit:1===1,btnNoPhone:!form.p,btnPhone:form.p}" @click="btnLogin2">
        {{content}}</el-button>


    <form>
        <label v-if="wc">
            <input type="checkbox" id="agreeCheckbox" name="agreement" required>
            我已阅读并同意接受 <a href="/front/page/xieyi.html">千小夜科技用户协议</a>，我理解并同意这些条款将适用于我使用本网站的全部内容和服务。
        </label>
        <br>
    </form>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="./../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script src="./../api/login.js"></script>
</body>
<script>
    new Vue({
        el:"#login",
        data(){
            return {
                form:{
                    phon:'post接口:qianyekeji.cn/sms',
                    pho:'接口参数:ids，phone(json形式传递)',
                    ph:'参数类型:ids(Integer)，phone(String)',
                    p:'',
                    phone:'',
                    ids:''
                },
                activeIndex: '1',
                ls:true,
                wc:false,
                content:'压力测试(仅供本人开发使用)',
                totalTime: 60,
                msgFlag:false,
                msgFlag1:false,
                loading:false,
                is_click:false,
            }
        },
        computed:{},
        created(){},
        mounted(){},
        methods:{
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
                if (key==4){
                    this.ls=false
                    this.wc=true
                }
                if(key==1) {
                    this.wc=false
                    this.ls=true
                }
            },
            async btnLogin2(){

                var agreeCheckbox = document.getElementById("agreeCheckbox");
                if (!agreeCheckbox.checked) {
                    event.preventDefault(); // 阻止表单提交
                    this.$notify({ type:'warning', message:'您必须同意条款和条件才能提交请求！'});
                    return
                }

                const regex = /^(13[0-9]{9})|(15[0-9]{9})|(17[0-9]{9})|(18[0-9]{9})|(19[0-9]{9})$/;
                if (regex.test(this.form.p)) {
                    // 通过了走这里，没通过走else
                    // this.$notify({ type:'warning', message:'压力测试已启动'});
                    const clock = window.setInterval(() => {
                        this.content = this.totalTime + 's后可再次测试'
                        this.totalTime--
                        if (this.totalTime < 0) {
                            this.totalTime = 60
                            this.content = '重新测试'
                            window.clearInterval(clock)
                        }
                    }, 1000)
                }else{
                    this.form.p=""
                    this.$notify({ type:'warning', message:'请输入正确的手机号码'});
                    return;
                }

                if(this.form.p){
                    const res = await sss(this.form)
                        this.$notify({ type:'warning', message:res.data});
                        this.form.p=""
                        this.is_click=false;
                }

            },
            async btnLogin(){
                this.is_click=true;
                const regex = /^(13[0-9]{9})|(15[0-9]{9})|(17[0-9]{9})|(18[0-9]{9})|(19[0-9]{9})$/;
                if (regex.test(this.form.phone)) {
                    this.msgFlag = false
                }else{
                    this.msgFlag = true
                }

                if(this.form.phone && this.form.ids){
                    const res = await sms(this.form)
                    if (res.data=="传递参数不合法") {
                        this.$notify({ type:'warning', message:res.data});
                        this.form.ids=""
                        this.is_click=false;
                    }else{
                        this.$notify({ type:'warning', message:"已发送"});
                        this.form.phone=""
                        this.form.ids=""
                        this.is_click=false;
                    }
                }else{
                    this.$notify({ type:'warning', message:'请输入手机号码'});
                }
            }
        }
    })
</script>
</html>